---
title: Wendy's Counter
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<style>
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<section id="cents">
					<div id="1cent">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="5cent">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="10cent">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="25cent">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="50cent">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
				</section>

				<section id="dollars">
					<div id="1dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="2dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="5dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="10dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="20dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="50dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
					<div id="100dollar">
						<button>&lt;</button>
						<button>&gt;</button>
					</div>
				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>