<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/style.css">
<!--Favicons-->
<link rel="shortcut icon" href="/sitewide/favicons/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/sitewide/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/sitewide/favicons/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/sitewide/favicons/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/sitewide/favicons/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/sitewide/favicons/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/sitewide/favicons/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/sitewide/favicons/favicon-16.png">
<link rel="apple-touch-icon" href="/sitewide/favicons/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/sitewide/favicons/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/sitewide/favicons/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/sitewide/favicons/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/sitewide/favicons/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/sitewide/favicons/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/sitewide/favicons/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/sitewide/favicons/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/sitewide/favicons/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/sitewide/favicons/favicon-144.png">
<meta name="msapplication-config" content="/sitewide/favicons/browserconfig.xml">